<html>
    <head>
        <link rel="stylesheet" href="/style.css" type="text/css">
    </head>
    <body>
        <h1>hell world</h1>
         <h1><%= message %></h1>
         <h1><%= name %></h1>
    </body>
</html>